<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>155133167876-rkds2udocr2ikr2cm7dnnvau6l7hcto4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155133167876-rkds2udocr2ikr2cm7dnnvau6l7hcto4</string>
	<key>API_KEY</key>
	<string>AIzaSyAmDekJJRBCCW_EGmN_r0ymVdRqI93EQ40</string>
	<key>GCM_SENDER_ID</key>
	<string>155133167876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qrCodeGetx</string>
	<key>PROJECT_ID</key>
	<string>qrcode-b549b</string>
	<key>STORAGE_BUCKET</key>
	<string>qrcode-b549b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155133167876:ios:c60a4c6d4dcb4d1cf4a851</string>
</dict>
</plist>